{% extends 'base.html.twig' %}

{% block body %}
	<table class="pure-table">
		<thead>
			<tr>
				<th class="index-tableheading">Id</th>
				<th class="index-tableheading">Firstname</th>
				<th class="index-tableheading">Lastname</th>
				<th class="index-tableheading">Address line 1</th>
				<th class="index-tableheading">Address line 2</th>
				<th class="index-tableheading">City</th>
				<th class="index-tableheading">Postcode</th>
				<th class="index-tableheading">Telephone home</th>
				<th class="index-tableheading">Telephone mobile</th>
			</tr>
		</thead>
		<tbody>
			{% if addresses | length > 0 %}
			    {% for address in addresses %}
			        <tr>
						<td>
							<a href="{{ app.request.getBaseURL() }}/view/{{ address.id }}">
								{{ address.id }}
							</a>
						</td>
						<td>{{ address.firstname }}</td>
						<td>{{ address.lastname }}</td>
						<td class="index-addressline1">{{ address.addressLine1 }}</td>
						<td>{{ address.addressLine2 }}</td>
						<td>{{ address.city }}</td>
						<td>{{ address.postcode }}</td>
						<td>{{ address.telephoneHome }}</td>
						<td>{{ address.telephoneMobile }}</td>
			        </tr>
			    {% endfor %}
			{% endif %}
		</tbody>
	</table>
{% endblock %}
